.comment-compact {
    background-color: #fff;
    padding: 20px 30px 20px 80px;
    border-bottom: 1px solid #eee;
    position: relative;
    line-height: 20px;
}

.comment-score-container {
    color: #f60;
    font-size: 1.1em;
    font-weight: 700;
    position: absolute;
    left: 0;
    width: 60px;
    text-align: center;
    margin-top: -10px;
}

.comment-score {
    display: block;
}

.comment-score-vote-up,
.comment-score-vote-down {
    color: #969696;
    display: inline-block;
    cursor: pointer;
    background: none;
    border: 0;
    font-size: 15px;
    outline: none;
}

.comment-body {
    color: #34495e;
}

.comment-metadata {
    font-size: .85em;
    color: #999;
    display: block;
}
