body {
    font-family: Roboto, Helvetica, sans-serif;
    font-size: 15px;
    background-color: #f2f3f5;
    margin: 0;
    padding-top: 55px;
}

a {
    text-decoration: none;
    color: #34495e;
}

.main-header {
    background-color: #f60;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
}

.main-nav {
    max-width: 800px;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 15px 5px;
}

.nav-item {
    color: hsla(0, 0%, 100%, .8);
    line-height: 24px;
    -webkit-transition: color .15s ease;
    transition: color .15s ease;
    display: inline-block;
    vertical-align: middle;
    font-weight: 300;
    letter-spacing: .075em;
    margin-right: 1.8em;
}

.nav-item.active {
    color: #fff;
    font-weight: 400;
}

.page-nav {
    background-color: #fff;
    border-radius: 2px;
    padding: 15px 30px;
    position: fixed;
    text-align: left;
    top: 55px;
    left: 0;
    right: 0;
    z-index: 998;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
}

.page-nav-options {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}

.page-nav-link {
    color: #f60;
    float: left;
    background-color: #f1f1f1;
    border: 1px solid #a2a2a2;
    font-weight: bold;
    margin: 0px 3px;
    border-radius: 5px;
    padding: 5px 10px;
    box-shadow: 2px 2px 3px -3px #000000db;
}

.page-nav-link.disabled {
    color: #ccc;
}

.page-nav-sort {
    color: #f60;
    float: right;
    height: 29px;
    background-color: #f1f1f1;
    border: 1px solid #a2a2a2;
    font-weight: bold;
    margin: 0px 3px;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 3px -3px #000000db;
    box-shadow: 2px 2px 3px -3px #000000db;
}

.page-nav-sort .Select-control {
    width: 150px;
    height: 29px;
    background-color: transparent;
    border-radius: 0;
    border: 0;
}

.page-nav-sort .Select-input {
    height: 24px;
}

.page-nav-sort .Select-placeholder {
    line-height: 27px;
}

.page-nav-sort.is-open>.Select-control,
.page-nav-sort.is-focused:not(.is-open)>.Select-control {
    background-color: transparent;
    border: 0;
    box-shadow: none;
}

.page-nav-sort .Select-option {
    color: #f60;
}

.page-main {
    max-width: 800px;
    margin: 0 auto;
    position: relative;
}
